.rui-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  padding-left: 0;
  margin-bottom: 2rem;

  &-item {
    cursor: pointer;
    padding: $menu-item-padding-y $menu-item-padding-x;
    border-bottom: $menu-item-active-border-width solid transparent;
    transition: $menu-transition;

    &-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }

    &-disabled {
      pointer-events: none;
      color: $menu-item-disabled-color;
    }

    &-submenu {
      .rui-icon{
        margin-left: 0.5rem;
        transition: transform .25s ease-in-out;
      }
    }

  }
}

.rui-menu {
  &-vertical {
    flex-direction: column;
    margin: 2rem;
    border-bottom: 0;
    border-right: $menu-border-width solid $menu-border-color;

    > .rui-menu-item {
      border-left: $menu-item-active-border-width solid transparent;
      border-bottom: none;

      &-active,
      &:hover {
        border-bottom: none;
        border-left: $menu-item-active-border-width solid $menu-item-active-color;
      }

      &-submenu {
        &.rui-menu-item {
          border-left: $menu-item-active-border-width solid transparent;
          &-active,
          &:hover {
            color: initial;
            .rui-submenu-title {
              color: $menu-item-active-color;
            }
          }
          &-opened{
            .rui-icon {
              transform: rotateX(180deg);
            }
          }
        }

        .rui-submenu {
          padding-left: 0;
          > .rui-menu-item {
            list-style: none;
            border-bottom: none;
          }

          &-title {
            margin-bottom: $menu-item-padding-y;
            &:hover{
              color: $menu-item-active-color;
              transition: $menu-transition;
            }
          }
        }
      }
    }
  }
}

.rui-menu {
  &-horizontal {
    .rui-menu-item-submenu {
      position: relative;

      &.rui-menu-item {
        border-bottom: $menu-item-active-border-width solid transparent;

        .rui-submenu {
          position: absolute;
          padding-left: 0;
          white-space: nowrap;
          top: calc(100% + 0.5rem);
          left: 0;
          z-index: 3;
          list-style: none;
          border: $menu-border-width solid $menu-border-color;
          box-shadow: $menu-box-shadow;
          background: $white;

          .rui-menu-item {
            border-bottom: none;
          }
        }

        &-active,
        &:hover {
          color: initial;
          border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
          .rui-submenu-title{
            color: $menu-item-active-color;
            .rui-icon {
              transform: rotateX(180deg);
            }
          }
        }
      }
    }
  }
}