.story-buttonList {
  button {
    margin: 0.5rem;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.story-iconList {
  .rui-icon{
    margin: 0.25rem;
  }
}
.story-iconRow{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.story-iconWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.story-iconTabs {
  .rui-icon{
    margin-right: 0.5rem;
  }
}

.story-inputList {
  display: flex;
  flex-direction: column;
  width: 300px;
  .rui-input-wrapper{
    margin-bottom: 1rem;
  }
}

.story-autoComplete {
  width: 300px;
  height: 18rem;
  .rui-autoComplete-wrapper {
    margin-bottom: .5rem;
  }
 .story-error {
   color: #dc3545;
 }
}

.story-progressList {
  .rui-progress {
    margin-bottom: 8px;
    height: 22px;
  }
}

.story-upload {
  width: 300px;
}

.story-uploadList {
  .rui-upload {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

}
.story-upload-dragger {
  padding: 1rem;
  text-align: center;
}
