.story-buttonList {
  button {
    margin: 0.5rem;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.story-iconList {
  .rui-icon{
    margin: 0.25rem;
  }
}
.story-iconRow{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.story-iconWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.story-iconTabs {
  .rui-icon{
    margin-right: 0.5rem;
  }
}

.story-inputList{
  display: inline-flex;
  flex-direction: column;
  .rui-input-wrapper{
    margin-bottom: 1rem;
  }
}