name: Build and Deploy

on:
  push:
    branches: [master]
    paths: ["src/components/**/*.stories.@(js|jsx|ts|tsx)", "src/**.mdx"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - name: Install and Build
        run: |
          npm ci
          npm run build-storybook
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: storybook-static

  mirror-to-gitee:
    uses: yilunyuwan/test-rui/.github/workflows/template-mirror.yml@master
    secrets: inherit

  deploy-gitee-pages:
    needs: [mirror-to-gitee]
    runs-on: ubuntu-latest
    steps:
      - uses: yanglbme/gitee-pages-action@main
        with:
          gitee-username: yilunyuwan
          gitee-password: ${{ secrets.GITEE_PASSWORD }}
          gitee-repo: yilunyuwan/test-rui
          branch: gh-pages