name: Mirror to Gitee and Build Gitee Pages

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror GitHub to Gitee
        uses: Yikun/hub-mirror-action@master
        with:
            src: github/yilunyuwan
            dst: gitee/yilunyuwan
            dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
            dst_token: ${{ secrets.GITEE_TOKEN }}
            static_list: "test-rui"

      - name: Build Gitee Pages
        uses: yanglbme/gitee-pages-action@main
        with:
          gitee-username: yilunyuwan
          gitee-password: ${{ secrets.GITEE_PASSWORD }}
          gitee-repo: yilunyuwan/rui-react
          branch: gh-pages